/* You can add global styles to this file, and also import other style files */
/* Blue Color patlette. Will probably change http://paletton.com/#uid=13D0u0k4iXl00++0Z+I8dQmcBFg */
$left-margin: 100px;

body {
  background-color: #7D9CC3;
}

.content {
  background-color: #ADC4E2;
  min-height: 820px;
}
