<div class="container text-center content">
  Under construction. Until I get something great up here you can visit my dev blog at
  <a href="https://robjorg.blogspot.com">robjorg.blogspot.com</a>
  <br>
  <img src="assets/images/construction.gif">
</div>
<div class="container text-center content">
  <h3>
    Contact Section
  </h3>
  <section id="email-form">
    <form id="email-contact-form" method="POST" netlify name="email-contact-form">
      <div class="form-container">
        <div class="form-content">
          <label for="full-name">Name:</label>
          <input type="text" placeholder="Enter your name" name="full-name" id="full-name" required>
        </div>
        <div class="form-content">
          <label for="email">Email Address:</label>
          <input type="email" placeholder="Enter your email in the form mail@domain.com" name="email" id="email" require>
        </div>
        <div class="form-content">
          <label for="comment" class="text-up">Comments?</label>
          <textarea name="comment" id="comment" cols="30" form="email-contact-form" rows="5" placeholder="Any comments?"></textarea>
        </div>
        <div class="submit">
          <input type="submit" value="Send this info!" class="btn" id="submit">
        </div>
      </div>
    </form>
  </section>
</div>
