@import "../../styles";

header > .container, footer > .container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: end;
  background-color: #d7e4f5;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav {
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
}

