<header id="header">
  <div class="container navbar-fixed-top">
    <img id="header-img" src="assets/images/JLogo.png" height="70">orgFam.Com
    <nav id="nav-bar">
      <a class="nav-link" href="">Some Day Menu Item 1</a>
      <a class="nav-link" href="">Some Day Menu Item 2</a>
      <a class="nav-link" href="">Some Day Menu n...</a>
    </nav>
  </div>

</header>
<app-home-page></app-home-page>

<footer id="footer">
  <div class="container">
    Footer stuff...made by Me <br>
    <span> 2018<sup>&#169;</sup></span>
  </div>
</footer>
